table{
    width: 100%;
}

.mat-header-cell{
    background-color: rgb(244, 247, 251);
    font-weight: bold;
    border-right: 1px solid rgb(180, 203, 236);
    text-align: center;
}

.mat-header-cell:nth-child(3){
    border-right-width: 0;
}

.mat-cell{
    text-align: center;
}

a{
    text-decoration: none;
}

tr{
    cursor: pointer;
}

tr:hover{
    background-color: rgb(223, 243, 240);
}

tr:focus{
    background-color: rgb(223, 243, 240);
}

a:visited{
    color: currentColor;
}

.active{
    background-color: rgb(223, 243, 240);
}

/* ::ng-deep .mat-accent .mat-pseudo-checkbox-checked {
    background: red;
} */


/* ::ng-deep .mat-checkbox-frame{
    border-color: rgb(132, 206, 200);
} */

::ng-deep .mat-checkbox-inner-container {
    height: 25px !important;
    width: 25px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: rgb(132, 206, 200);
}