table{
    width: 100%;
}

.mat-header-cell{
    background-color: rgb(244, 247, 251);
    font-weight: bold;
    border-right: 1px solid rgb(180, 203, 236);
    text-align: center;
}

.mat-header-cell:nth-child(3){
    border-right-width: 0;
}

.mat-cell{
    text-align: center;
}

a{
    text-decoration: none;
}

tr{
    cursor: pointer;
}

tr:hover{
    background-color: grey;
}

a:visited{
    color: currentColor;
}